<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     
    <title>Bonsai Care</title>
    
    <h1>Bonsai Care</h1>
  </head>
<body bgcolor="MediumSeaGreen">
  <p>Hi, and welcome to my website on <strong>simple</strong> <em>bonsai care</em>.
  <iframe width="250" height="300" src="https://www.youtube.com/embed/L1FDfwyjkrs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p><em>Above is a video taken from Bonsai Empire Care Guide</em></p>
  
</body>
</html>
